<html>
    <head>
	<meta http-equiv="content-type" content="text/html; charset=windows-1252">
	<title>schedule-meister</title>
	<link href="stylesheets/style.css" rel="stylesheet" type="text/css">
	<script src="scripts/jquery-2.1.1.min.js"></script>
	<script src="scripts/colpick.js" type="text/javascript"></script>
        <link href="stylesheets/colpick.css" rel="stylesheet"  type="text/css"/>
        <script src="scripts/script.js" type="text/javascript" ></script>
	</head>
	<body>
	    <div id="navbar">
		<div id="buttonwrapper">
		    <div id="button2" class="button selected">find class</div>
		    <div id="button1" class="button">create class</div>
		</div>
	    </div>
	    <div id=uiwrapper>
		<div id="ui">
		    <div id="ui1" class="uiclass">
			<span id="class_name_span">class name</span> 
			<input id="class_name" maxlength="50">
			<br>
			<span id="crn_span">crn</span><input id="crn">
			<br>
			<div id='day_choice_wrapper'>this class meets
			    <div class='day_choice selected_day_choice' id='same_time'>at the same time</div>
			    <div class='day_choice' id='different_times'>at different times </div>
			</div>
			<div id='M' class="day" style='margin-left:0px'>monday
			    <div class="time_entry">
				<span style='margin-left:10px; margin-right:2px'>start</span>
				<input class='start' style='width:40px; margin-top:10px'>
				<select class='start_select' style='margin-right:10px'>
				    <option>am</option>
				    <option>pm</option>
				</select>
				<br>
				<span style='margin-left:10px; margin-right:7px'>end</span>
				<input class='end' style='width:40px; margin-top:5px; margin-bottom:5px'> 
				<select class='end_select' style='margin-right:10px'>
				    <option>am</option>
				    <option>pm</option>
				</select>
			    <div class='remove_day'>remove</div>
			    </div>	
			</div>
			<div id='T' class="day">tuesday
			    <div class="time_entry">
				<span style='margin-left:10px; margin-right:2px'>start</span>
				<input class='start' style='width:40px; margin-top:20px'>
				<select class='start_select'style='margin-right:10px'>
				    <option>am</option>
				    <option>pm</option>
				</select>
				<br>
				<span style='margin-left:10px; margin-right:7px'>end</span>
				<input class='end' style='width:40px; margin-top:5px'> 
				<select class='end_select' style='margin-right:10px'>
				    <option>am</option>
				    <option>pm</option>
				</select>
			    <div class='remove_day'>remove</div>
			    </div>	
			</div>
			<div id='W' class="day">wednesday
			
			    <div class="time_entry">
				<span style='margin-left:10px; margin-right:2px'>start</span>
				<input class='start' style='width:40px; margin-top:20px'>
				<select class='start_select' style='margin-right:10px'>
				    <option>am</option>
				    <option>pm</option>
				</select>
				<br>
				<span style='margin-left:10px; margin-right:7px'>end</span>
				<input class='end' style='width:40px; margin-top:5px'> 
				<select class='end_select' style='margin-right:10px'>
				    <option>am</option>
				    <option>pm</option>
				</select>
			    <div class='remove_day'>remove</div>
			    </div>	
			</div>
			<div id='R' class="day">thursday
			
			    <div class="time_entry">
				<span style='margin-left:10px; margin-right:2px'>start</span>
				<input class='start' style='width:40px; margin-top:20px'>
				<select class='start_select' style='margin-right:10px'>
				    <option>am</option>
				    <option>pm</option>
				</select>
				<br>
				<span style='margin-left:10px; margin-right:7px'>end</span>
				<input class='end' style='width:40px; margin-top:5px'> 
				<select class='end_select' style='margin-right:10px'>
				    <option>am</option>
				    <option>pm</option>
				</select>
			    <div class='remove_day'>remove</div>
			    </div>	
			</div>
			<div id='F' class="day">friday
			    <div class="time_entry">
				<span style='margin-left:10px; margin-right:2px'>start</span>
				<input class='start' style='width:40px; margin-top:20px'>
				<select class='start_select' style='margin-right:10px'>
				    <option>am</option>
				    <option>pm</option>
				</select>
				<br>
				<span style='margin-left:10px; margin-right:7px'>end</span>
				<input class='end' style='width:40px; margin-top:5px'> 
				<select class='end_select' style='margin-right:10px'>
				    <option>am</option>
				    <option>pm</option>
				</select>
			    <div class='remove_day'>remove</div>
			    </div>	
			</div>
			<div id='S' class="day">saturday
			    <div class="time_entry">
				<span style='margin-left:10px; margin-right:2px'>start</span>
				<input class='start' style='width:40px; margin-top:20px'>
				<select class='start_select' style='margin-right:10px'>
				    <option>am</option>
				    <option>pm</option>
				</select>
				<br>
				<span style='margin-left:10px; margin-right:7px'>end</span>
				<input class='end' style='width:40px; margin-top:5px'> 
				<select class='end_select' style='margin-right:10px'>
				    <option>am</option>
				    <option>pm</option>
				</select>
			    <div class='remove_day'>remove</div>
			    </div>	
			</div>
			<div id='SU' class="day">sunday
			    <div class="time_entry">
				<span style='margin-left:10px; margin-right:2px'>start</span>
				<input class='start' style='width:40px; margin-top:20px'>
				<select class='start_select' style='margin-right:10px'>
				    <option>am</option>
				    <option>pm</option>
				</select>
				<br>
				<span style='margin-left:10px; margin-right:7px'>end</span>
				<input class='end' style='width:40px; margin-top:5px'> 
				<select class='end_select' style='margin-right:10px'>
				    <option>am</option>
				    <option>pm</option>
				</select>
			    <div class='remove_day'>remove</div>
			    </div>	
			</div>
			<div id='time_div'>start time     
			    <input id='startTime'>
			    <select id="time_start">
				<option value="am">am</option>
				<option value="pm">pm</option>
			    </select>
			    ends
			    <input id='endTime'>
			    <select id="time_end">
				<option value="am">am</option>
				<option value="pm">pm</option>
			    </select>
			</div>
			<br>
			<div id='color'>color <div id='color1' class="color_picker"></div></div>
			<div id='add_class' class='class_button'>add class</div>
		    </div>
		    <div id="ui2" class="uiclass">
			<div id="class_number">
			    <span style="margin-left:40px">class number:</span>
                <input id="cls_number">
            </div>
			<hr class="query_seperator">
            <div id="crn">
                <span>crn:</span>
			    <input id="crn_input">
            </div>
            <hr class="query_seperator">
            <div id="class_name">
                <span style="margin-left:5px">class name:</span>
                <input id="crs_name">
            </div>
			<div id="ui2_bottom_container">
                <div style="margin-left:50px">
                    <span style="margin-left:53px">term: </span>
                    <select style="margin-left:20px" id="term_select">
                    </select>
                    <br>
                    <span style="margin-left:50px">color:<span>
			        <div id="color2" class="color_picker"></div>
			    </div>
                <div id="query_button" class="class_button">find class</div>
		    </div>
            </div>
		</div>
	    <hr style='margin-top:15px; margin-bottom:5px;border-style:dashed; border-color:#e3b8df'>
            <div id="error_box"></div>
	    <div id="class_select_wrapper">
		classes 
		<select id="class_select"></select>
                <input value="remove" onclick="removeClass()" type="button">
            </div>
    	    <div id='save_schedule_image'>save schedule as png</div>
        </div>
        <canvas width="2400" height="1300" id="schedule">
	    </canvas>
	    <div style="text-align:center; margin-top:50px">version 0.5  a better <i>better</i> webtms</div>

        <div id="loading"></div>
        <div id="load_text">loading...</div>
        
        <div id="results_container">
            <div id="close_results">X</div>
            <div id="results_and_info_container">
                <div id="results_wrapper"> 
                    <div id="header">
                        <div class="header_item" style="width:7%">subj</div>
                        <div class="header_item" style="width:7%">code</div>
                        <div class="header_item" style="width:40%">name</div>
                        <div class="header_item" style="width:7%">sec</div>
                        <div class="header_item" style="width:18%">type</div>
                        <div class="header_item" style="width:21%; border-right-style:none">capacity</div>
                    </div> 
                    <div id="results">
                    </div>
                </div>
                <div id="results_info">
                    <div id="info_left">
                        <div class="info_left_item">crn: </div>
                        <div class="info_left_descr" id="crn_info"></div>
                        <br>
                        <div class="info_left_item">fits in schedule: </div>
                        <div class="info_left_descr" id="fit_info"></div>
                        <br>
                        <div class="info_left_item" style='display:none'>more info: </div>
                        <div class="info_left_descr" style='display:none'>
                            <a id="more_info" target="_blank"></a> 
                        </div>
                    </div>
                    <div id="info_right">
                        <div style="margin-top:10px; float:left">day/times: </div>
                        <div id="date_time_container" style="float:left">
                            <div id='info_weekday0' class='date_time_item'></div><div id='info_time0' class='date_time_item'></div>
                            <br>
                            <div id='info_weekday1' class='date_time_item'></div><div id='info_time1' class='date_time_item'></div>
                            <br>
                            <div id='info_weekday2' class='date_time_item'></div><div id='info_time2' class='date_time_item'></div>
                            <br>
                            <div id='info_weekday3' class='date_time_item'></div><div id='info_time3' class='date_time_item'></div>
                            <br>
                            <div id='info_weekday4' class='date_time_item'></div><div id='info_time4' class='date_time_item'></div>
                        </div>
                    </div>
                </div>
                <div id="add_query_class" class="class_button">add class</div>
            </div>
        </div>
        <div id='popup_box'>
            <div id='popup_box_wrapper'>
                <div id="close_popup">X</div>
                <div id='popup_header'></div>
                <div class='popup_container' style='width:65%'>
                    <div class='popup_label'>crn: </div><div id='popup_crn' class='popup_info'></div>
                    <div class='popup_label'>subj: </div><div id='popup_subj' class='popup_info'></div>
                    <div class='popup_label'>instructor: </div><div id='popup_instructor' class='popup_info'></div>
                </div>
                <div class='popup_container' style='width:35%'>
                    <div class='popup_label'>sec: </div><div id='popup_sec' class='popup_info'></div>
                    <div class='popup_label'>code: </div><div id='popup_code' class='popup_info'></div>
                    <div class='popup_label'>type: </div><div id='popup_type' class='popup_info'></div>
                </div>
                <div id='popup_times'>
                    <div id='popup_times_label'>times: </div>
                    <div id="popup_times_container">
                        <div class='popup_date'></div><div class='popup_time'></div>
                        <div class='popup_date'></div><div class='popup_time'></div>
                        <div class='popup_date'></div><div class='popup_time'></div>
                        <div class='popup_date'></div><div class='popup_time'></div>
                        <div class='popup_date'></div><div class='popup_time'></div>
                    </div>
                </div>
            </div> 
        </div>    
    </body>
</html>
