* {
margin: 0;
padding: 0;
}
.button{
width:200px;
height:50px;
float:left;
line-height:50px;
text-align:center;
font-size:20px;
color:#4F1652;
vertical-align:middle;
font-family:arial;
background-color:#F089DB;
-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
cursor:pointer;
}
.class_button{
text-align:center;
background-color:#ed2bff;
color:white;
border-radius:5px;
border-style:solid;
border-width:1px;
border-color:#ca35e8;
cursor:pointer;
-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}
#navbar{
background-color:#F089DB;
height:50px;
margin: 0;
padding: 0;
}
#uiwrapper{
outline: 1px solid transparent;
margin:auto;
margin-top:15px;
width:700px;
border-style:solid;
border-width:1px;
border-color:#EF96FF;
border-radius:15px;
box-shadow: 5px 5px 5px #C691FF;
font-family:arial;
color:#6E5670;
}
#ui{
width:600px;
margin:auto;
margin-top:20px;
}
#ui1{
margin-bottom:20px;
margin-left:30px;
}
#crn{
margin-top:5px;
margin-left:113px;
}
#class_name{
margin-left:50px
}
#day_choice_wrapper{
line-height:50px;
margin-top:25px;
margin-bottom:10px;
}
.day_choice{
height:40px;
width:130px;
text-align:center;
line-height:40px;
margin-left:10px;
color:white;
display:inline-block;
background-color:#ed2bff;
border-radius:5px;
cursor:default;
-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}
.selected_day_choice{
background-color:#be3af2;
border-color: #ff7e21;
border-style:solid;
border-width:1px;
box-shadow: 0px 0px 5px #ff7e21;
}
.time_entry{
position:absolute;
height:90px;
width:160px;
background-color:white;
border-style:solid;
border-width:3px;
border-radius:5px;
z-index:2;
top:30px;
left:-40px;
}
.remove_day{
text-align:center; 
color:blue;
cursor:pointer;
}
.day{
position:relative;
float:left;
margin-left:10px;
margin-top:15px;
padding:2px 4px 2px 4px;
border-radius:5px;
border-style:solid;
border-width:1px;
border-color:#EF96FF;
cursor:default;
-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}
.selected_day{
background-color:#EBB7ED;
}
.open_time_entry{
background-color:#f86bff;
}
.end_select{
width:48px;
}
#time_div{
float:left;
margin-top:10px;
}
#startTime{
width:50px;
}
#time_start{
margin-right:20px;
}
#EndTime{
width:50px;
}
#color{
clear:left;
padding-top:10px;
height:30px;
}
.color_picker{
position:relative;
border-style:solid;
border-width:1px;
border-radius:5px;
border-color:gray;
width:50px;
height:20px;
display:inline-block;
margin-left:27px;
top:5px;
}
#add_class{
position:relative;
left:23%;
height:50px;
width:200px;
font-size:20px;
text-align:center;
line-height:50px;
margin-top:20px;
}
.query_seperator{
border: 0;
height: 1px;
width:80%; 
background-image: -webkit-linear-gradient(left, rgba(230,158,211,.25), rgba(230,158,211,0.75), rgba(230,158,211,0.25));
background-image: -moz-linear-gradient(left, rgba(230,158,211,0.25), rgba(230,158,211,0.75), rgba(230,158,211,0.25));
background-image: -ms-linear-gradient(left, rgba(230,158,211,0.25), rgba(230,158,211,0.75), rgba(230,158,211,0.25));
background-image: -o-linear-gradient(left, rgba(230,158,211,0.25), rgba(230,158,211,0.75), rgba(230,158,211,0.25)); 
margin:auto;
margin-top:10px;
margin-bottom:10px;
}
#cls_number{
margin-left:20px
}
#crn_input{
margin-left:20px
}
#crs_name{
margin-left:20px
}
#ui2_bottom_container{
margin-top:30px;
}
#color2{
margin-left:20px
}
#query_button{
position:relative;
left:26%;
background-color:#ed2bff;
height:50px;
width:200px;
color:white;
font-size:20px;
text-align:center;
line-height:50px;
margin-top:20px;
}
#ui3{
width:400px;
height:100px;
float:left;
margin-left:20px;
}
#error_box{
height:20px;
width:400px;
clear:both;
color:red;
margin:auto;
}
#schedule{
height:650px;
width:1200px;
display:block;
margin:auto;
margin-top:50px;
}
#buttonwrapper{
width:400px;
margin:auto;
background-color:white;
}
.button.selected{
background-color:#B363B8;
}
#errorbox{
text-align:center;
}
#class_select_wrapper{
margin:auto;
margin-top:5px;
margin-bottom:5px;
width:400px;
}
#class_select{
width:200px;
}
#save_schedule_image{
text-align:center;
background-color:#ff3d64;
margin:15px 0px;
margin-left:29.7%;
height:25px;
line-height:25px;
width:200px;
color:white;
border-radius:5px;
cursor:pointer;
-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
display:none;
}
#loading{
opacity:0.2;
background-color:gray;
position:fixed;
width:100%;
height:100%;
top:0px;
left:0px;
z-index:1000;
display:none;
}
#load_text{
position:fixed;
font-size:50px;
margin: 0 auto;
color:#5A82F2;
top: 27%;	
right: 45%;	
font-family:arial;
display:none;
text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
#results_container{
position:fixed;
background-color:white;
width:90%;
height:90%;
top:5%;
left:5%;
border-radius:5px;
border-style:solid;
border-color:gray;
border-width:2px;
display:none;
overflow:visible;
}
#close_results{
height:18px;
width:18px;
line-height:20px;
text-align:center;
background-color:white;
border-radius:100%;
border-style:solid;
border-color:gray;
font-family:Arial;
font-size:12px;
font-weight:900;
color:#7A8EFF;
position:relative;
bottom:10px;
right:10px;
cursor:pointer;
-webkit-user-select: none; /* Chrome/Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}
#results_and_info_container{
width:95%;
margin:auto;
overflow:hidden;
}
#results_wrapper{
overflow:hidden;
height:70%;
margin:auto;
background-color:#F7F7F7;
border-style:solid;
border-color:#261457;
border-width:2px;
}
#header{
height:5%;
width:100%;
border-bottom-style:solid;
border-bottom-width:1px;
border-bottom-color:#261457;
}
.header_item{
height:100%;
float:left;
font-family:arial;
box-sizing:border-box;
text-align:center;
border-right-style:solid;
border-right-width:1px;
border-right-color:#261457;
}
#results{
overflow:auto;
height:95%;
background-color:#F5FAFF;
width100%;
}
.result{
color:#261457;
height:30px;
width:100%;
}
.fits{
background-color:#F5FAFF;
}
.not_fit{
background-color:#EB4D6A;
}
.selected_result.fit{
background-color:#ABC1D6
}
.selected_result.not_fit{
background-color:#C9425B;
}
.result_item{
line-height:30px;
text-align:center;
height:100%;
float:left;
text-align:center;
border-bottom-style:solid;
border-bottom-width:1px;
border-bottom-color:#261457;
box-sizing:border-box;
font-family:arial;
font-size:14px;
cursor:default;
-webkit-user-select: none; /* Chrome/Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
overflow:hidden;
}
.selected_result{
background-color:#D1DDE8
}
#results_info{
margin-top:15px;
width:80%;
height:20%;
background-color:#F5F5BF;
color:#360900;
float:left;
font-size:14px;
}
#info_left{
float:left;
width:50%;
height:100%;
}
.info_left_item{
line-height:14px;
position:relative;
top:5%;
height:20%;
width:25%;
text-align:right;
float:left;
}
.info_left_descr{
line-height:14px;
position:relative;
top:5%;
height:20%;
margin-left:5px;
float:left;
width:70%;
}
#info_right{
float:left;
width:50%;
height:100%;
}
#date_time_container{
width:70%;
height:100%;
}
.date_time_item{
width:50%;
height:15%;
text-align:center;
float:left;
margin-top:10px;
}
#add_query_class{
position:relative;
float:left;
height:50px;
width:150px;
line-height:50px;
font-family:arial;
font-weight:bold;
margin-left:5%;
margin-top:5%;
}
#popup_box{
position:fixed;
top:30%;
left:35%;
height:40%;
width:30%;
border:3px solid gray;
background-color:white;
overflow:visible;
display:none;
font-family:arial;
color:gray;
}
#popup_box_wrapper{
width:98%;
height:98%;
margin: 0 auto;
font-size:14px;
}
#close_popup{
height:18px;
width:18px;
line-height:20px;
text-align:center;
background-color:white;
border-radius:100%;
border-style:solid;
border-color:gray;
font-family:Arial;
font-weight:900;
color:#7A8EFF;
position:relative;
bottom:12px;
right:18px;
cursor:pointer;
-webkit-user-select: none; /* Chrome/Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}
#popup_header{
text-align:center;
width:100%;
height:8%;
color:#BF85C9;
}
.popup_container{
height:30%;
float:left;
}
.popup_label{
text-align:right;
width:30%;
}
.popup_info{
width:70%;
color:#BF85C9;
text-align:center;
}
.popup_container div{
height:30%;
float:left;
}
#popup_times{
width:100%;
height:50%;
clear:both;
}
#popup_times_label{
width:20%;
text-align:right;
float:left;
}
#popup_times_container{
height:100%;
width:80%;
float:left;
}
.popup_date{
text-align:center;
width:35%;
float:left;
height:20%;
color:#BF85C9;
}
.popup_time{
width:65%;
float:left;
height:20%;
color:#BF85C9;
}

